body{
font-family: Arial;
background:#1e1e1e;
color:white;
padding:20px;
}

h1{
text-align:center;
}

input{
padding:8px;
border-radius:8px;
border:none;
}

.btn{
border:none;
padding:8px 12px;
margin:4px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
display:inline-flex;
align-items:center;
gap:6px;
}

.btn:hover{
opacity:0.85;
}

.turno{
background:#f1c40f;
color:black;
}

.reset{
background:#3498db;
color:white;
}

.adicionar{
background:#2ecc71;
color:white;
}

.editar{
background:#3498db;
color:white;
}

.deletar{
background:#e74c3c;
color:white;
}

.personagem{
border:1px solid #444;
padding:12px;
margin-top:12px;
border-radius:10px;
background:#2c2c2c;
}

.nomePersonagem{
display:flex;
align-items:center;
gap:8px;
}

.efeito{
display:flex;
align-items:center;
gap:8px;
margin:5px 0;
}